:root {
  --step--1: clamp(0.7rem, calc(0.67rem + 0.15vw), 0.8rem);
  --step-0: clamp(0.88rem, calc(0.84rem + 0.19vw), 1rem);
  --step-1: clamp(1.09rem, calc(1.05rem + 0.24vw), 1.25rem);
  --step-2: clamp(1.37rem, calc(1.31rem + 0.3vw), 1.56rem);

  --field-rows: 9;
  --field-cols: 9;

  --max-w: 80ch;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  max-width: var(--max-w);
}

html,
header,
main,
footer,
nav,
section,
div {
  max-width: none;
}

::selection {
  background-color: #ededec;
  color: #161615;
}

html {
  font-family: "Work Sans", system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  line-height: 1.45;

  color: #ededec;
  background-color: #161615;
}

body {
  font-size: var(--step-0);

  margin: 1rem auto 2rem;
  padding: 2rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

button {
  font-size: 1rem;
  font-family: inherit;
  line-height: inherit;

  color: inherit;
  border: none;
}

a {
  color: inherit;
}

header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1 {
  font-size: var(--step-2);
  font-weight: bolder;
  line-height: 1;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  justify-content: center;
}

nav button {
  padding: 0.3rem 1rem;

  background-color: transparent;
  transition: 200ms background-color;
  border-radius: 1rem;
}

nav button:hover,
nav button:focus {
  background-color: #3e2d22;
}

nav button:active {
  background-color: #493528;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#field {
  display: grid;
  grid-template-rows: repeat(var(--field-rows), 3ch);
  grid-template-columns: repeat(var(--field-cols), 3ch);
  gap: 1px;
}

#field button {
  --cell-corner-radius: 0.15rem;

  background-color: #eeeeec;
}

#field button:hover,
#field button:focus {
  background-color: #e3e3e0;
}

#field button:active {
  background-color: #c8c7c1;
}

#field button[data-corner="top-left"] {
  border-top-left-radius: var(--cell-corner-radius);
}

#field button[data-corner="top-right"] {
  border-top-right-radius: var(--cell-corner-radius);
}

#field button[data-corner="bottom-left"] {
  border-bottom-left-radius: var(--cell-corner-radius);
}

#field button[data-corner="bottom-right"] {
  border-bottom-right-radius: var(--cell-corner-radius);
}

output {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  gap: 1rem;
}

.pill-blue {
  display: block;
  padding: 1.1ex 0.75rem 0.8ex;

  font-size: var(--step--1);
  font-weight: bold;
  background-color: #10243e;
  border-radius: 1rem;
}

.text-align\:left {
  text-align: left;
}

.align-items\:start {
  align-items: flex-start;
}
