@font-face {
  font-family: "Work Sans";
  src: url("/WorkSans-Regular-v1.woff2") format("woff2"),
    url("/WorkSans-Regular-v1.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url("/WorkSans-Bold-v1.woff2") format("woff2"),
    url("/WorkSans-Bold-v1.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --step--1: clamp(0.7rem, calc(0.67rem + 0.15vw), 0.8rem);
  --step-0: clamp(0.88rem, calc(0.84rem + 0.19vw), 1rem);
  --step-1: clamp(1.09rem, calc(1.05rem + 0.24vw), 1.25rem);
  --step-2: clamp(1.37rem, calc(1.31rem + 0.3vw), 1.56rem);

  --max-w: 80ch;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  max-width: var(--max-w);
}

html,
body,
header,
main,
footer,
nav,
section,
div {
  max-width: none;
}

::selection {
  background-color: #ededec;
  color: #161615;
}

html {
  font-family: "Work Sans", system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  line-height: 1.45;

  color: #ededec;
  background-color: #161615;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: var(--step-0);
}

#root {
  max-width: var(--max-w);
  margin: 1rem auto 2rem;
  padding: 2rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

button {
  font-size: 1rem;
  font-family: inherit;
  line-height: inherit;

  color: inherit;
  border: none;
}

a {
  color: inherit;
}

header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1 {
  font-size: var(--step-2);
  font-weight: 700;
  line-height: 1;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  justify-content: center;
}

nav button {
  padding: 0.3rem 1rem;

  background-color: transparent;
  transition: 200ms background-color;
  border-radius: 1rem;
}

nav button:hover,
nav button:focus {
  background-color: #3e2d22;
}

nav button:active {
  background-color: #493528;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#field {
  --field-rows: 5;
  --field-cols: 5;
  --cell-corner-radius: 0.15rem;

  display: grid;
  grid-template-rows: repeat(var(--field-rows), 2rem);
  grid-template-columns: repeat(var(--field-cols), 2rem);
  gap: 0;

  font-size: 1.5rem;
}

#field > * {
  display: contents;
}

#field button {
  background-color: #eeeeec;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px white,
    inset -2px -2px #808080, inset 2px 2px #dfdfdf;
}

#field button:hover,
#field button:focus {
  background-color: #e3e3e0;
}

#field button:active,
#field button[data-open="true"] {
  background-color: #dad7d0;
  box-shadow: inset 1px 1px #808080;
}

#field button:last-child:active,
#field button:last-child[data-open="true"] {
  box-shadow: inset 1px 1px #808080, inset -1px 0 #161615;
}

output {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  gap: 1rem;

  font-feature-settings: "tnum";
}

.pill-blue {
  display: block;
  padding: 0.33ex 0.75rem;
  font-weight: inherit;
  font-feature-settings: "c2sc";
  letter-spacing: 0.05ch;
  background-color: #10243e;
  border-radius: 1rem;
}

.text-align\:left {
  text-align: left;
}

.align-items\:start {
  align-items: flex-start;
}
